<div class="navbar navbar-banner navbar-light navbar-lewagon fixed-bottom d-flex justify-content-around text-center">
  <% if user_signed_in? %>
    <%= link_to root_path do %>
      <%= image_tag "Home.png", class: "navbar-icon" %>
    <% end %>
    <%= link_to daily_challenge_path do %>
      <%= image_tag "calendar.png", class: "navbar-icon" %>
    <% end %>
    <%= link_to dashboard_path do %>
      <%= image_tag "User.png", class: "navbar-icon" %>
    <% end %>
  <% else %>
    <div class="col-6" data-action="click->selector#selectLink">
      <%= link_to '', new_user_session_path, class: "nav-link fa-solid fa-right-to-bracket fa-2x" %>
    </div>

    <div class="col-6" data-action="click->selector#selectLink">
      <%= link_to '', new_user_registration_path, class: "nav-link fa-solid fa-user-plus fa-2x" %>
    </div>
  <% end %>
</div>
