<% if current_user.length_preference == nil || current_user.category_preference == nil %>
  <div class="medium-banner text-sm-center d-flex align-items-end">
    <div class="ms-4">
      <h1><strong>Your Creative Boost <br>is Served</strong></h1>
    </div>
  </div>
  <div class="container text-center">
    <div class="my-5">
      <h1>
        <strong>
          <%= link_to "Set Preferences", edit_user_path(current_user), class: "preference-button btn btn-pink btn-lg rounded-pill" %>
        </strong>
      </h1>
    </div>
  </div>
<% else %>
  <% if @daily_challenge %>
    <div class="medium-banner text-sm-center d-flex align-items-end">
      <div class="ms-4">
        <h1><strong>Your Creative Boost <br> is Served</strong></h1>

        <div class="d-flex flex-row">
          <%= render "shared/preference_buttons" %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="my-5">
        <h1 class="d-flex align-items-center">
          <%= image_tag "burrito-colour.png", class: "burrito-logo" %>
          <strong class="ms-2">
            <%=@daily_challenge.name%>
          </strong>
        </h1>
      </div>

      <div class="my-5 border border-primary border-3 rounded p-3">
        <h4><strong>Description</strong></h4>
        <%=@daily_challenge.description %>
      </div>

      <div class="accordion border border-primary border-3 rounded my-4" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p class="m-0"><i class="fa-solid fa-pepper-hot"></i> Hint</p>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><%= @daily_challenge.hint %></p>
            </div>
          </div>
        </div>
      </div>

    <div class="d-grid gap-2 col-6 mx-auto my-4">
      <% if @unfinished %>
        <%= link_to "Continue Challenge", edit_user_challenge_path(@unfinished),  class: "show-button btn btn-pink btn-lg rounded-pill" %>
      <% elsif @completed %>
          <%= link_to "Challenge Completed", "#", class: "show-button btn btn-pink btn-lg rounded-pill disabled" %>
      <% else %>
        <%= simple_form_for [@daily_challenge, @user_challenge] do |f| %>
          <%= f.submit "Time to Create!", class: "show-button btn btn-pink btn-lg rounded-pill" %>
        <% end %>
      <% end %>
    </div>

  <% else %>
    <p>No more challenges available for this category/time.</p>
  <% end %>
<% end %>
